venv/
env/
.venv/
.env/
venvv/
.vscode/
.idea/
*.iml
*.pyc
__pycache__/
*.pyc
*.log
.env
.env.*
db.sqlite3
media/
static/
*.css
*.js
*.map
Pipfile
Pipfile.lock
*~
*.bak
.tmp
*/migrations/*.py
*/migrations/*.pyc